<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDZOUAYjum-bLfwKv1YWnGfhs5jKSiRM0</string>
	<key>GCM_SENDER_ID</key>
	<string>1030067242876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urNextRoute</string>
	<key>PROJECT_ID</key>
	<string>ur-next-route</string>
	<key>STORAGE_BUCKET</key>
	<string>ur-next-route.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030067242876:ios:ea66c9a1b0160f993846f9</string>
</dict>
</plist>